*.suo
*.user
_ReSharper.*
bin
obj
packages
/BeautyHall.Api/Api/BeautyHall.Api/obj
/BeautyHall.Api/Api/BeautyHall.Api/bin
/BeautyHall.Api/BeautyHall.DAL.DB/obj
/BeautyHall.Api/BeautyHall.DAL.DB/bin
/BeautyHall.Api/BeautyHall.Models.Dto/bin
/BeautyHall.Api/BeautyHall.Models.Dto/obj
/BeautyHall.Api/BeautyHall.Models.Db/bin
/BeautyHall.Api/BeautyHall.Models.Db/obj
/BeautyHall.Api/BeautyHall.Models.Common/bin
/BeautyHall.Api/BeautyHall.Models.Common/obj
/BeautyHall.Api/BeautyHall.Api.SDK/bin
/BeautyHall.Api/BeautyHall.Api.SDK/obj
/BeautyHall.Winforms/BSMS.Winforms/bin
/BeautyHall.Winforms/BSMS.Winforms/obj
.vs
/BeautyHall.Api/BeautyHall.Database/BeautyHall.Database.dbmdl
/BeautyHall.Api/BeautyHall.Database/BeautyHall.Database.jfm
/BeautyHall.Api/Api/BeautyHall.Api/appsettings.json
/BeautyHall.Api/BeautyHall.Database/obj/Debug/BeautyHall.Database.sqlproj.AssemblyReference.cache
/BeautyHall.Api/Api/BeautyHall.Api/appsettings.json
/BeautyHall.Winforms/BSMS.Winforms/appsettings.json
/BeautyHall.Winforms/BSMS.Winforms/appsettings.json
